span {

    color: rgb(97, 34, 234);
}

h1 {
    font-size: 70px;

}

.section1 {
    display: flex;
    margin-left: 150px;
    margin-top: 100px;
}


.bodderh1 {
    border-image: linear-gradient(rgb(38, 0, 255), rgb(255, 0, 162));
    border-image-slice: 1;
    border-left: 10px solid;
    padding-left: 20px;
}




.div1 {
    width: 50%;


}

.div1 img {
    width: 75%;
    height: 70%;

}


body {
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'PT Serif', serif;

}

.batton {
    background-image: linear-gradient(rgb(255, 0, 166), rgb(85, 0, 255));
    margin-left: 70px;
    color: white;
    padding: 10px;
    text-decoration: none;
}